<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>

	<body style="background-color:powderblue;">
		<h1 style="text-align: center;">
		Language Identification Application
		<p>
			<font size="+1">
				This application identifies the language of a written text. It is Covers Nigerian Languages such as Yoruba, Igbo and Hausa Languages. Other Nigerian Languages will be included soon.
			</font>
		</p>
	</h1><br><br><br>

<form action="/" method="post">
		<center>
			<label style="color:rgb(255,0,0);" for="user_input"> <font size="+2">Enter A Text Here and Discover the Language</font> </label><br><br>
			<input type="text"  name='user_input'  size = "80" value="{{ user_value }}">
			<input type="submit" value="Submit">
		</center>
	
		<center>

			<font size = "+2">
			{% if result %}
			{{result}}
			{% endif %}

			</font>
		</center>
    

		<!-- <div id="google_translate_element"></div>  
      
    <script type="text/javascript">  
        function googleTranslateElementInit() {  
            new google.translate.TranslateElement( 
                {pageLanguage: 'en'},  
                'google_translate_element' 
            );  
        }  
    </script>  
      
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"> 
    </script>   -->
	
	</body>


</html>